img#logo_resumen{
	width: 50px;
	height: 50px;
}
textarea{
	width: 100%;
	/*height: 10vh;*/
	resize: none;
}
.resumen-modal{
	padding: 0.5em;
}
.btn_resumen{
	margin-bottom: 2px;
	background: mintcream;
	border-radius: 10px 10px 10px 10px;
}
#cabecera_resumen{
	margin-bottom: 5px;
}