body{
	background-color: #e9ebee;
	/*lightgrey;*/
}

 div#mi-mapa{
 	width:250px; 
 	height: 250px;
 }

 div#top{
 	margin-top: 57px;
 	width: 100%;
 	height: 70px;
 	border: 1px solid black;
 	display: flex;
 	align-items: center;
/*
	background-color: grey;
 	position:fixed;
	z-index: 1030;*/
 }
 div#top-espacio{
 	flex:0.5;
 }
 div#top-logo{
 	height:100%;
 	width: 70px;
 	margin-right: 2%;
 	border: 1px solid red;
 }
 div#top-name{
 	flex:1;
 }

 div#med{
 	margin-left: 10%;
 	width: 80%;
 }
 div#cuerpo{
 	display: flex;
 	align-items: center;
 	border: 1px solid black;
 }
 div#datos{
 	flex: 1;
 	border: 1px solid black;
 }
 div#mi-mapa{
 	flex:1;
 }
 div#cheks{
 	border: 1px solid black;
 }
 div#desc{
 	border: 1px solid black;
	word-break: break-word;
 }
 img.gal{
 	/*flex:1;*/
 	width: 200px;
 }

/* #contenedor_mapa{
 	height: 300px;
 }*/