body{
	background-color: #e9ebee;
}

 div#top{
 	margin-top: 57px;
 	width: 100%;
 	height: 70px;
 	background-color: lightgray;
 	display: flex;
 	align-items: center;
 }
 div#top-espacio{
 	flex:0.5;
 }
 div#top-logo{
 	height:100%;
 	width: 70px;
 	margin-right: 2%;
 }
 div#top-name{
 	flex:1;
 }

 div#med{
 	margin-left: 10%;
 	width: 80%;
 }
 div#cuerpo{
 	display: flex;
 	align-items: center;
 }
 div#datos{
 	flex: 1;
 }

 div#cheks{
 	border-top: 1px solid black;
 }
 div#desc{
 	border: 1px solid black;
	word-break: break-word;
 }
 img.gal{
 	width: 200px;
 }


 #img_gear:hover{
		content: url("img/engranaje2.png");
}


 div#mi-mapa{
 	height: 65vh;
 	max-height: 350px;

}
#listado{
	border-right:2px solid blue;
	height: 90vh;
	overflow: hidden
}
